* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body, hr {
    margin: 0;
    padding: 0;
    background: url('../image/binary_wp.jpg');
    background-size: cover;
}

a {
    color: inherit;
}

header, footer {
    background-color: rgba(0,0,0,.8);
}

section {
    padding: 1em 0em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.in-blk {
    display: inline-block;
}

.masthead {
    max-width: 61em;
    height: 7.5em;
    margin: 0em auto 0em auto;
    z-index: 999;
}

.links {
    float: right;
    margin-right: 1em;
}

.nav-links {
    margin-top: 3em;
}

.nav-links li a:hover {
    cursor: pointer;
    color: #fff;
    background: url('../image/bg-black-noise-bright.png');
}

.links a {
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-left: 1.25em;
    margin-top: 1em;
    color: #fff;
}

#menu-icon {
    margin-top: 2.2em;
    cursor: pointer;
}

.drop-menu-div {
    display: none;
    position: absolute;
    right: 1.25em;
    top: 5.2em;
    width: 7.4em;
    height: 5.55em;
    text-align: left;
    background: url('../image/bg-black-noise-bright.png');
    z-index: 100;
}

.drop-menu-div li {
    width: 6.6em;
    margin: 0.4em;
}

.drop-menu-div li a {
    color: #fff;
    margin: 0 0 0 0.2em;
}

#menu-icon:hover .drop-menu-div {
    display: block;
}

.drop-menu-div li:hover {
    background-color: #fff;
}

.drop-menu-div li:hover a {
    color: black;
}

.name {
    width: 13em;
    height: 7.5em;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    text-align: center;
    padding: 0.5em 0em;
    margin: 0 0 0 1em;
    border: 1px solid black;
    background: url('../image/bg-black-noise-bright.png');
    background-repeat: no-repeat;
}

.name:hover {
    cursor: pointer;
}

#first,
#last {
    margin: 0;
}

#first {
    font-size: 4em;
    letter-spacing: 0.15em;
    font-weight: 500;
    margin-bottom: -0.2em;
}

#last {
    font-weight: 400;
    letter-spacing: 0.4em;
}

.main-frame {
    width: 100%;
    min-height: 28em;
}

.content {
    max-width: 61em;
    min-height: 28.5em;
    height: 77%;
    margin: 0.5em auto 4em auto;
    padding: 0.25em 1em;
    border-top: 0.1px solid hidden;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.text {
    width: 36%;
    height: 15em;
    position: absolute;
    top: 40%;
    left: 14%;
    border: 1px solid black;
}

.image {
    width: 54%;
    height: 32em;
    position: absolute;
    top: 20%;
    right: 14%;
    border: 1px solid black;
}

.hidden {
    display: none;
}

.social {
    width: 100%;
    height: 3em;
    position: fixed;
    bottom: 0%;
    left: 0%;
    margin: 0em auto 0em auto;
    padding: 0.5em 1em;
    text-align: center;
}

.github {
    color: #fff;
}

.linkedin {
    color: #0077B5;
    margin-left: 1em;
}

.bio {
    max-width: 50.6875em;
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
}

.bio h3 {
    font-weight: 700;
}

.home,
.resume {
    text-align: center;
}

.greeting {
    width: 5em;
    height: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2em;
    margin-left: -2.5em;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5em;
    color: white;
    background-color: rgba(0,0,0,.6);
}

.greeting h1 {
    margin: 0;
}

#email {
    margin-top: 8em;
}

.title {
    text-align: center;
}

.row {
    width: 100%;
    height: 15em;
    margin-bottom: 1em;
    background-color: #fff;
    z-index: 5;
}
.grid {
    height: 15em;
}

.grid-hover {
    height: 15em;
	background-color: black;
	opacity: 0.85;
	border: 0.1px solid black;
	cursor: pointer;
	position: relative;
	top: -15em;
	z-index: -1;
}

.grid-hover-icons-box {
	width: 12em;
	height: 5em;
    margin: 5em auto;
	text-align: center;
}

.grid-hover-icons {
    display: inline-block;
    width: 5em;
    height: 5em;
}

.grid-hover-icons:hover {
    background-color: black;
    opacity: 0.25;
}

.proj-dscrp-box {
	width: 29em;
	height: 15em;
	padding: 0 0.5em;
	color: black;
}

.proj-dscrp-list {
	width: 9em;
    margin: auto;
    display: inline-block;
}

.proj-img-box {
    height: 15em;
}

.proj-img {
    width: 29em;
    height: 15em;
    position: relative;
}

.proj-dscrp {
    margin-top: 0.25em;
}

.proj-title {
	text-align: center;
    margin-bottom: 0;
}

/*Media Queries*/

@media (max-width: 700px) {
    .nav-links {
        display: none;
    }
    .nav-menu {
        display: block;
    }
}
